<div class="row">

    <div class="col-xs-12 col-lg-10">
        <otta-panel [title]="'Pitches'">
            <h3>Coming Soon</h3>
        </otta-panel>
    </div>


    <div class="col-xs-12 col-lg-2 hidden-xs hidden-sm hidden-md">
        <h2>Get ideas from others</h2>
        <p>
            <strong>This idea is still in development</strong>>
        </p>
        <p>
            Working with others to get your content created is one thing, but what if they could pitch ideas directly too you?
        </p>
        <h4>Great ideas</h4>
        <p>
            Let the people you work with pitch their ideas straight to you, then you can pick out the ones you love and have them work on them to your schedule.
        </p>
    </div>

</div>