<div class="row wrapper white-bg page-heading">
    <div class="col-lg-10">
        <h2>Organisation</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                <strong>Organisation</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper-content animated fadeInRight">
    <!-- User doesn't have access to edit the organisation -->
    <div class="row" *ngIf="orgNotAvailable">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>You are not an admin</h5>
                </div>
                <div class="ibox-content">
                    <h2>
                        You can not edit this organisation, you are not an admin
                        <br>
                    </h2>
                    <p>
                        To be able to edit this organisations details you need to be in the admins group. If this is
                        incorrect please contact your
                        admin and ask to be added to the admin users group.
                        <p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!orgNotAvailable">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Subscription</h5>
                    </div>
                    <div class="ibox-content">
                        <app-subscription #SubscriptionDetails (organisationUpdate)="UpdateOrganisationDetails($event)"></app-subscription>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Users</h5>
                        <span class="text-muted small pull-right">Max users: {{userAllowance}}</span>
                    </div>

                    <div class="ibox-content" [ngClass]="{'sk-loading': isLoadingUsers}">
                        <div class="sk-spinner sk-spinner-cube-grid">
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                        </div>

                        <p>
                            Invite your whole team to join
                        </p>
                        <div class="input-group" [class.has-error]="!userEmail.valid">
                            <input type="text" placeholder="Email address of the user you would like to add" class="input form-control"
                                [(ngModel)]="inviteUserEmail" id="userEmail" name="userEmail" #userEmail="ngModel"
                                required pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary" (click)="inviteUser()" [disabled]="!userEmail.valid">
                                    <i class="fa fa-envelope"></i> Invite</button>
                            </span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Admin</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of organisationUsers.AdminUsers">
                                        <td>
                                            {{user.Name}}
                                        </td>
                                        <td>{{user.Email}}</td>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-success" (click)="removeAdmin(user)">Admin</button>
                                        </td>
                                        <td class="client-status">
                                        </td>
                                        <td>
                                            <button type="button" (click)="removeUser(user)" class="btn btn-xs btn-outline btn-danger">Remove</button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let user of organisationUsers.NormalUsers">
                                        <td>
                                            {{user.Name}}
                                        </td>
                                        <td>{{user.Email}}</td>
                                        <td>
                                            <a (click)="makeAdmin(user)">Make admin</a>
                                        </td>
                                        <td class="client-status">
                                            <!-- <span *ngIf="user.IsActive" class="label label-primary">Active</span> -->
                                        </td>
                                        <td>
                                            <button type="button" (click)="removeUser(user)" class="btn btn-xs btn-outline btn-danger">Remove</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>




                    </div>
                </div>


            </div>
        </div>










        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Invoices</h5>
                    </div>

                    <div class="ibox-content" [ngClass]="{'sk-loading': isLoadingInvoices}">
                        <div class="sk-spinner sk-spinner-cube-grid">
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let invoice of invoices">
                                        <td>{{invoice.Created | date:'dd MMMM yyyy'}}</td>
                                        <td>{{invoice.Amount/100 | number:'1.2-2'}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>




                    </div>
                </div>


            </div>
        </div>









    </div>
</div>