<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">:(</h1>
        </div>
    </div>
    <p></p>
    <div class="ibox-content">
        <h3>Oh No!</h3>
        <p>
            Something has gone wrong. 
        </p>
        <p>
            Try closing your browser and trying again. We have been notified and are looking into it.
        </p>
        <p>
            If the problem persists you can always get in contact with us <a href="mailto:support@otta.io">support@otta.io</a>
        </p>
    </div>
</div>