<!--component html goes here -->
<form method="get" class="form-horizontal" #contentItemForm="ngForm">
    <div class="form-group" [class.has-error]="!title.valid">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="data.Title" #title="ngModel">
            <span class="help-block m-b-none">
                Help information for this item
            </span>
        </div>
    </div>

    <div class="form-group" [class.has-error]="!description.valid">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" name="description" [(ngModel)]="data.Description" required #description="ngModel"></textarea>
            <span class="help-block m-b-none">
                Help information
            </span>
        </div>
    </div>

    <div class="form-group" [class.has-error]="!contentType.valid">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select name="contentType" id="contentType" [(ngModel)]="data.ContentTypeId" #contentType="ngModel" required>
                <option *ngFor="let type of contentTypes" value="{{type.id}}">{{type.Title}}</option>
            </select>

            <span class="help-block m-b-none">
                What type of content is this
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
            <tag-input name="tags" modelAsStrings="true" [(ngModel)]="data.Tags" theme="bootstrap-tagsinput"></tag-input>
            <span class="help-block m-b-none">
                Tags can help you group your ideas together or make them easier to find later
            </span>
        </div>
    </div>

    <div class="form-group" [class.has-error]="!state.valid">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <select name="state" id="state" [(ngModel)]="data.State" #state="ngModel" required>
                <option value="idea">Idea</option>
                <option value="in-progress">In progress</option>
                <option value="content">Content</option>
            </select>

            <span class="help-block m-b-none">
                The current state of this item
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Deadline</label>
        <div class="col-sm-10">
            <my-date-picker name="mydate" [options]="datePickerOptions" [(ngModel)]="displayDeadLineDate"></my-date-picker>
            <span class="help-block m-b-none">
                A deadline isn't required, but can be useful if you want to get this out by a certain date
            </span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button type="button" *ngIf="showCancel" class="btn btn-white" (click)="cancelForm()">{{cancelButtonText}}</button>
            <button class="btn btn-primary" type="submit" (click)="submitForm()" [disabled]="!contentItemForm.form.valid" [ladda]="isUpdating">{{createButtonText}}</button>
        </div>
    </div>
</form>

<div [froalaEditor]="editorOptions" [(froalaModel)]="content.Content"></div>