<div *ngIf="noIntegrations" class="alert alert-info">
  <strong>No integrations configured</strong>: Currently there are no social media integrations configured for this
  project. To be able to send social media messages please link this project to your social media accounts in the settings tab.
</div>


<div *ngIf="!noIntegrations">

  <!-- Menu buttons -->
  <div>
      <div class="btn-group">
        <button class="btn btn-white" type="button" (click)="addTwitterMessage()" *ngIf="canAddTwitterMessages">
          <i class="fa fa-twitter"> </i>
        </button>
        <button class="btn btn-white" type="button" (click)="addFacebookMessage()" *ngIf="canAddFacebookMessages">
          <i class="fa fa-facebook"> </i>
        </button>
        <button class="btn btn-white" type="button" (click)="addLinkedinMessage()" *ngIf="canAddLinkedInMessages">
          <i class="fa fa-linkedin"> </i>
        </button>
        <button class="btn btn-white" type="button" (click)="addPinterestMessage()" *ngIf="canAddPinterestMessages">
          <i class="fa fa-pinterest"> </i>
        </button>
      </div>
    </div>
    <!-- End menu -->

    <!-- Message list -->
    <app-cim-messages-list #messageListComponent 
      [messages]="messages" 
      [hideSentMessages]="false" 
      [showDates]="false" 
      [alwaysShowDelete]="true" 
      [substitutions]="[]"
      [allowMoving]="true"
      (onEditMessage)="editMessage($event)"
      (onDeleteMessage)="handleMessageRemoved($event, '')"
      (onMoveMessage)="handleMessageMove($event)" >
    </app-cim-messages-list>

</div>

<otta-modal [modalId]="'twitterModal'" [title]="'Twitter'" [heading]="''" [icon]="'fa-twitter'">
    <app-cim-editor-twitter #twitterEditor 
      [substitutions]="[]" 
      [images]="_images" 
      [relativeDate]="" 
      [hideDateTimeSettings]="true"
      [defaultMessageText]="''"
      [defaultLinkText]="''"
      [allowRequeueing]="false"
      (cancelled)="handleCancelled('twitterModal')" 
      (messageCreated)="handleMessageCreated($event, 'twitterModal')" 
      (messageUpdated)="handleMessageUpdated($event, 'twitterModal')" 
      (messageRemoved)="handleMessageRemoved($event, 'twitterModal')">
    </app-cim-editor-twitter>
  </otta-modal>

  <otta-modal [modalId]="'facebookModal'" [title]="'Facebook'" [heading]="''" [icon]="'fa-facebook'">
    <app-cim-editor-facebook #facebookEditor 
      [substitutions]="[]" 
      [images]="_images" 
      [relativeDate]=""     
      [facebookIntegration]="facebookIntegration"
      [hideDateTimeSettings]="true"
      [defaultMessageText]="''"
      [defaultLinkText]="''"
      [allowRequeueing]="false"
      (cancelled)="handleCancelled('facebookModal')" 
      (messageCreated)="handleMessageCreated($event, 'facebookModal')" 
      (messageUpdated)="handleMessageUpdated($event, 'facebookModal')" 
      (messageRemoved)="handleMessageRemoved($event, 'facebookModal')">
    </app-cim-editor-facebook>
  </otta-modal>
  
  <otta-modal [modalId]="'linkedinModal'" [title]="'LinkedIn'" [heading]="''" [icon]="'fa-linkedin'">
    <app-cim-editor-linkedin #linkedinEditor 
      [substitutions]="[]" 
      [images]="_images" 
      [relativeDate]=""
      [hideDateTimeSettings]="true"
      [defaultMessageText]="''"
      [defaultLinkText]="''"
      [allowRequeueing]="false"
      (cancelled)="handleCancelled('linkedinModal')" 
      (messageCreated)="handleMessageCreated($event, 'linkedinModal')" 
      (messageUpdated)="handleMessageUpdated($event, 'linkedinModal')" 
      (messageRemoved)="handleMessageRemoved($event, 'linkedinModal')">
    </app-cim-editor-linkedin>
  </otta-modal>
  
  <otta-modal [modalId]="'pinterestModal'" [title]="'Pinterest'" [heading]="''" [icon]="'fa-pinterest'">
    <app-cim-editor-pinterest #pinterestEditor 
      [substitutions]="[]" 
      [images]="_images" 
      [relativeDate]=""
      [pinterestIntegration]="pinterestIntegration"
      [hideDateTimeSettings]="true"
      [defaultMessageText]="''"
      [defaultLinkText]="''"
      [allowRequeueing]="false"
      (cancelled)="handleCancelled('pinterestModal')" 
      (messageCreated)="handleMessageCreated($event, 'pinterestModal')" 
      (messageUpdated)="handleMessageUpdated($event, 'pinterestModal')" 
      (messageRemoved)="handleMessageRemoved($event, 'pinterestModal')">
    </app-cim-editor-pinterest>
  </otta-modal>