<!-- List of messages -->
<div id="vertical-timeline" class="vertical-container dark-timeline">
  <!-- Loop through all the messages -->
  <ng-container *ngFor="let message of messagesList" [ngSwitch]="message.MessageType">

    <!-- Twitter message -->
    <div class="vertical-timeline-block" *ngSwitchCase="0">
      <div class="vertical-timeline-icon twitter-bg" (click)="editMessage(message)">
        <i class="fa fa-twitter"></i>
      </div>

      <div class="vertical-timeline-content">
        <p (click)="editMessage(message)" [innerHTML]="message.Message">
          <!-- <strong>{{ message.Message }}</strong> -->
        </p>
        <p *ngIf="message.ImageUrl">
          <img src="{{message.ImageUrl}}" width="50px" />
        </p>
        <a *ngIf="!message.hasBeenSent || alwaysShowDelete" class="btn btn-xs btn-danger btn-outline" (click)="deleteMessage(message.Id)">Delete</a>
        <span class="vertical-date">
          <small *ngIf="showDates">
            {{ message.SendTime | date }} {{ message.SendTime | date:'shortTime'}}
            <span *ngIf="message.IsRelative">(relative)</span>
            <span *ngIf="!message.IsRelative">(static)</span>
          </small>
        </span>
      </div>
    </div>
    <!-- / Twitter message -->

    <!-- Facebook message -->
    <div class="vertical-timeline-block" *ngSwitchCase="1">
      <div class="vertical-timeline-icon twitter-bg" (click)="editMessage(message)">
        <i class="fa fa-facebook"></i>
      </div>

      <div class="vertical-timeline-content">
        <p (click)="editMessage(message)" [innerHTML]="message.Message">
          <!-- <strong>{{ message.Message }}</strong> -->
        </p>
        <p *ngIf="message.ImageUrl">
          <img src="{{message.ImageUrl}}" width="50px" />
        </p>
        <a *ngIf="!message.hasBeenSent || alwaysShowDelete" class="btn btn-xs btn-danger btn-outline" (click)="deleteMessage(message.Id)">Delete</a>
        <span class="vertical-date">
          <small *ngIf="showDates">
            {{ message.SendTime | date }} {{ message.SendTime | date:'shortTime'}}
            <span *ngIf="message.IsRelative">(relative)</span>
            <span *ngIf="!message.IsRelative">(static)</span>
          </small>
        </span>
      </div>
    </div>
    <!-- / Facebook message -->

    <!-- LinkedIn message -->
    <div class="vertical-timeline-block" *ngSwitchCase="3">
      <div class="vertical-timeline-icon twitter-bg" (click)="editMessage(message)">
        <i class="fa fa-linkedin"></i>
      </div>

      <div class="vertical-timeline-content">
        <p (click)="editMessage(message)" [innerHTML]="message.Message">
          <!-- <strong>{{ message.Message }}</strong> -->
        </p>
        <p *ngIf="message.ImageUrl">
          <img src="{{message.ImageUrl}}" width="50px" />
        </p>
        <a *ngIf="!message.hasBeenSent || alwaysShowDelete" class="btn btn-xs btn-danger btn-outline" (click)="deleteMessage(message.Id)">Delete</a>
        <span class="vertical-date">
          <small *ngIf="showDates">
            {{ message.SendTime | date }} {{ message.SendTime | date:'shortTime'}}
            <span *ngIf="message.IsRelative">(relative)</span>
            <span *ngIf="!message.IsRelative">(static)</span>
          </small>
        </span>
      </div>
    </div>
    <!-- / LinkedIn message -->

    <!-- Pinterest message -->
    <div class="vertical-timeline-block" *ngSwitchCase="5">
      <div class="vertical-timeline-icon twitter-bg" (click)="editMessage(message)">
        <i class="fa fa-pinterest"></i>
      </div>

      <div class="vertical-timeline-content">
        <p (click)="editMessage(message)" [innerHTML]="message.Message"></p>
        <p *ngIf="message.ImageUrl">
          <img src="{{message.ImageUrl}}" width="50px" />
        </p>
        <a *ngIf="!message.hasBeenSent || alwaysShowDelete" class="btn btn-xs btn-danger btn-outline" (click)="deleteMessage(message.Id)">Delete</a>
        <span class="vertical-date">
          <small *ngIf="showDates">
            {{ message.SendTime | date }} {{ message.SendTime | date:'shortTime'}}
            <span *ngIf="message.IsRelative">(relative)</span>
            <span *ngIf="!message.IsRelative">(static)</span>
          </small>
        </span>
      </div>
    </div>
    <!-- / Pinterest message -->

    <!-- Medium message -->
    <div class="vertical-timeline-block" *ngSwitchCase="4">
      <div class="vertical-timeline-icon twitter-bg" (click)="editMessage(message)">
        <i class="fa fa-medium"></i>
      </div>

      <div class="vertical-timeline-content">
        <p (click)="editMessage(message)" [innerHTML]="message.Message"></p>
        <p *ngIf="message.ImageUrl">
          <img src="{{message.ImageUrl}}" width="50px" />
        </p>
        <a *ngIf="!message.hasBeenSent || alwaysShowDelete" class="btn btn-xs btn-danger btn-outline" (click)="deleteMessage(message.Id)">Delete</a>
        <span class="vertical-date">
          <small *ngIf="showDates">
            {{ message.SendTime | date }} {{ message.SendTime | date:'shortTime'}}
            <span *ngIf="message.IsRelative">(relative)</span>
            <span *ngIf="!message.IsRelative">(static)</span>
          </small>
        </span>
      </div>
    </div>
    <!-- / Medium message -->

  </ng-container>


</div>
<!-- / List of messages -->

<!-- Message if there are no messages waiting to be sent -->
<div *ngIf="messagesList.length === 0" class="text-center">
  <h2>No messages waiting to be sent</h2>
</div>