<loadingSpinner [loading]="isLoading"></loadingSpinner>
<div class="row" *ngIf="!isLoading">
    <div class="col-xs-12 col-sm-8">
        <otta-panel [title]="'Update draft'">
            <content-item-details [data]="draft" [content]="draftContent" [showCancel]="false" [isUpdating]="isUpdating" (submitClicked)="updateDraft($event)" [createButtonText]="'Update'"></content-item-details>
        </otta-panel>
    </div>
    <div class="col-xs-12 col-sm-4">
        <otta-panel [title]="'Delete'" *ngIf="userIsAdmin || draft.CreatorAuthId === currentUsersAuthId">
            <p>
                If you no longer need this item it can be delete, there is no way to recover this item once it has been deleted.
            </p>

            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
        </otta-panel>

        <otta-panel [title]="'Discussion'">
            <otta-comment [ParentOrganisationId]="draft.Partition" [ParentObjectId]="draft.id"></otta-comment>
        </otta-panel>
    </div>
</div>