<loadingSpinner [loading]="isLoading"></loadingSpinner>
<div class="row" *ngIf="!isLoading">
    <div class="col-xs-12 col-sm-8">
        <!-- Main content information -->
        <otta-panel [title]="'Update'">
            <content-item-details [data]="item" [content]="itemContent" [showCancel]="false" [isUpdating]="isUpdating" (submitClicked)="updateItem($event)"
                [createButtonText]="'Update'"></content-item-details>
        </otta-panel>

        <!-- Files -->
        <otta-panel [title]="'Media items'">
            <otta-content-item-files [data]="item"></otta-content-item-files>
        </otta-panel>

        <!-- Social media post -->
        <otta-panel [title]="'Social media'">
            <otta-content-item-messages #contentItemMessages [data]="item"></otta-content-item-messages>
        </otta-panel>
    </div>

    <!-- Side information -->
    <div class="col-xs-12 col-sm-4">
        <otta-panel [title]="'Delete'" *ngIf="userIsAdmin || userIsCreator">
            <p>
                If you no longer need this item it can be delete, there is no way to recover this item once it has been deleted.
            </p>

            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
        </otta-panel>

        <otta-panel [title]="'Integration'">
            <div *ngIf="hasWordpressIntegration || item.WordpressLink">

                <div class="pull-left">
                    <i class="fa fa-wordpress fa-5x m-md"></i>
                </div>

                <h2>Wordpress</h2>
                <!-- Item is not linked to wordpress -->
                <div *ngIf="!item.WordpressLink">
                    <p>
                        Connect this post to your other sources
                    </p>
                    <p *ngIf="hasWordpressIntegration">
                        <button class="btn btn-primary" (click)="createWordpressPost()" [ladda]="isCreatingLink">Link to wordpress</button>
                    </p>
                </div>
                <!-- Item is linked to wordpress -->
                <div *ngIf="item.WordpressLink">
                    <p>
                        <a href="{{ item.WordpressLink.AdminUrl }}&action=edit" target="_new">Go to your wordpress post</a>
                    </p>
                    <p>
                        <!-- Update linked site button -->
                        <button *ngIf="itemContent.Content && itemContent.id != item.WordpressLink.LastPublishedContentId" (click)="updateWordpressPost()"
                            class="btn btn-xs btn-outline btn-default" [ladda]="isUpdatingWPPost">Update</button>
                        <!-- Remove from linked site button -->
                        <button class="btn btn-xs btn-outline btn-danger" (click)="deleteWordpressPost()" [ladda]="isDeletingWPPost">Delete</button>
                    </p>
                </div>

            </div>
        </otta-panel>

        <otta-panel [title]="'Discussion'">
            <otta-comment [ParentOrganisationId]="item.Partition" [ParentObjectId]="item.id"></otta-comment>
        </otta-panel>

    </div>
</div>