<div class="row wrapper white-bg page-heading">
    <div class="col-lg-10">
        <h2>Projects</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                <strong>Projects</strong>
            </li>
        </ol>
    </div>
</div>

<!-- Top level button row -->  
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <button type="button" class="btn btn-primary" (click)="createProject()">Create new project</button>
    </div>
</div>

<div class="wrapper-content animated fadeInRight">    
    <content-project-list></content-project-list>
</div>