.permalink-tweet {
    border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 auto;
      padding: 30px 40px;
      width: 560px;
  }
  
  .more-option{
        color: #45b0e3;
      cursor: pointer;
      display: block;
      font-size: 12px;
      font-weight: bold;
      line-height: 39px;
      text-transform: uppercase;
      }
  
  .permalink-header .account-group {
      float: left;
  }
  
  
  .stream-item .content, .permalink-tweet .content {
      margin-left: 58px;
  }
  
  
  
  .permalink-header .fullname {
      display: block;
      font-size: 18px;
      line-height: 1.25;
      margin-top: 3px;
      padding-top: 2px;
  }
  .fullname {
      color: #292f33;
      font-weight: bold;
  }
      
  .permalink-header .username {
      font-size: 14px;
  }
  
  .permalink-header .account-group {
      float: left;
  }
  
  a, .btn-link, .btn-link:focus, .icon-btn, .pretty-link b, .pretty-link:hover s, .pretty-link:hover b, .pretty-link:focus s, .pretty-link:focus b, .metadata a:hover, .metadata a:focus, .account-group:hover .fullname, .account-group:focus .fullname, .account-summary:focus .fullname, .message .message-text a, .stats a strong, .plain-btn:hover, .plain-btn:focus, .dropdown.open .user-dropdown.plain-btn, .open > .plain-btn, #global-actions .new:before, .module .list-link:hover, .module .list-link:focus, .UserCompletion-step:hover, .stats a:hover, .stats a:hover strong, .stats a:focus, .stats a:focus strong, .profile-modal-header .fullname a:hover, .profile-modal-header .username a:hover, .profile-modal-header .fullname a:focus, .profile-modal-header .username a:focus, .story-article:hover .metadata, .story-article .metadata a:focus, .find-friends-sources li:hover .source, .stream-item a:hover .fullname, .stream-item a:focus .fullname, .stream-item .view-all-supplements:hover, .stream-item .view-all-supplements:focus, .tweet .time a:hover, .tweet .time a:focus, .tweet .details.with-icn b, .tweet .details.with-icn .Icon, .tweet .tweet-geo-text a:hover, .stream-item:hover .original-tweet .expand-action-wrapper, .stream-item .original-tweet.focus .expand-action-wrapper, .opened-tweet.original-tweet .expand-action-wrapper, .stream-item:hover .original-tweet .details b, .stream-item .original-tweet.focus .details b, .stream-item.open .original-tweet .details b, .simple-tweet:hover .details b, .simple-tweet.focus .details b, .simple-tweet.open .details b, .simple-tweet:hover .details .expand-action-wrapper, .simple-tweet.focus .details .expand-action-wrapper, .simple-tweet.open .details .collapse-action-wrapper, .simple-tweet:hover .details .simple-details-link, .simple-tweet.focus .details .simple-details-link, .client-and-actions a:hover, .client-and-actions a:focus, .dismiss-promoted:hover b, .tweet .context .pretty-link:hover s, .tweet .context .pretty-link:hover b, .tweet .context .pretty-link:focus s, .tweet .context .pretty-link:focus b, .list .username a:hover, .list .username a:focus, .list-membership-container .create-a-list, .list-membership-container .create-a-list:hover, .story-header:hover .view-tweets, .card .list-details a:hover, .card .list-details a:focus, .card .card-body:hover .attribution, .card .card-body .attribution:focus, .events-card .card-body:hover .attribution, .events-card .card-body .attribution:focus, .new-tweets-bar, .onebox .soccer ul.ticker a:hover, .onebox .soccer ul.ticker a:focus, .discover-item-actions a, .remove-background-btn, .stream-item-activity-me .latest-tweet .tweet-row a:hover, .stream-item-activity-me .latest-tweet .tweet-row a:focus, .stream-item-activity-me .latest-tweet .tweet-row a:hover b, .stream-item-activity-me .latest-tweet .tweet-row a:focus b {
      color: #45b0e3;
      text-decoration: none;
  }
  a, a:hover, a:focus, a:active {
      color: #45b0e3;
  }
  
  
  .username {
      direction: ltr;
      unicode-bidi: embed;
  }
  .username, .time, .time a, .metadata, .metadata button.btn-link, .metadata a {
      color: #8899a6;
      font-size: 13px;
      font-weight: lighter;
  }
  
  
  .permalink-header {
      height: 48px;
      margin-bottom: 15px;
  }
  
  stream-item-header .avatar, .permalink-header .avatar {
      float: left;
      margin-left: -58px;
      margin-top: 3px;
  }
  
  
  
  .permalink-tweet .permalink-header .avatar {
      margin-top: 0;
  }
  .stream-item-header .avatar, .permalink-header .avatar {
      float: left;
      margin-left: -58px;
      margin-top: 3px;
  }
  .avatar {
      -moz-force-broken-image-icon: 1;
      border-radius: 5px;
      height: 48px;
      width: 48px;
  }
  
  .permalink-tweet p.tweet-text {
      font-family: inherit;
  }
  .tweet .js-tweet-text {
      white-space: pre-wrap;
  }
  .permalink-tweet p, .permalink-tweet p b {
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
  }
  
  textarea{
      height: 180px;
      resize: none;
      }
      
  img.tweet-gif{
    margin-left: -26px;
      margin-top: 33px;
      position: absolute;
      width: 27px;
      }	
      
  textarea:focus{
      border: none;
      }
  
  .permalink-tweet p, .permalink-tweet p b {
      letter-spacing: 0.01em;
  }
  .tweet p {
      word-wrap: break-word;
  }
  blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre {
      margin: 0;
  }
  
  
  h1 {
      color: #45b0e3;
      font-family: "roboto",sans-serif;
      font-size: 60px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
  }
  
  h4 {
   color: #888;
      font-family: "Open Sans",sans-serif;
      font-size: 15px;
      font-weight: lighter;
      margin-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
  }
  
  .box-image{
      height: 280px;
      margin-top: 5px;
      overflow: hidden;
      width: 560px;
      xbackground-color: #45b0e3;
      }
      
  #twit_logo,  #box-image{
      cursor: alias;
      }	
      
  .box-image img {
      max-width:80%;
  }
      
  .stamp{
      display: none;
    background-color: #45b0e3;
      color: #fff;
      font-size: 13px;
      font-weight: lighter;
      height: 15px;
      margin: 20px auto;
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
      width: 200px;
      }	
  
  .share-tweet{
      margin:0 auto;
      width: 150px;
      margin-bottom: 30px;
      }
  
  
  .stamp a{
      color: #FFF;	
      }
      
      
  #txt_twit_content{
      border: medium none;
      color: #292f33;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 18px;
      overflow: hidden;
      line-height: 35px;
      size: 22px;
      width: 560px !important;
          }
          
      
      
      
  #txt_twit_nome{
      border: medium none;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 19px;
      font-weight: bold;
      color: #292f33;
      overflow: hidden;
      margin-left: 5px;
      }	
      
  #txt_twit_account{
   border: medium none;
      color: #8899a6;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 15px;
      overflow: hidden;
      }	