<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" *ngIf="title || subtitle">
                <h5>{{title}}
                    <small *ngIf="subtitle && !subtitlePullRight" class="m-l-sm">{{subtitle}}</small>
                </h5>
                <span *ngIf="subtitle && subtitlePullRight" class="text-muted small pull-right">{{subtitle}}</span>
                <div *ngIf="showButton && buttonText" class="ibox-tools">
                    <a class="btn btn-primary btn-xs" (click)="panelButtonClicked()">{{buttonText}}</a>
                </div>
            </div>

            <div class="ibox-content" [ngClass]="loading?'sk-loading':''">
                <!-- Loading animation -->
                <div class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
                <ng-content></ng-content>
            </div>
            <div class="ibox-footer" *ngIf="footer || footerRight">
                <span class="pull-right">
                    {{footerRight}}
                </span>
                {{footer}}
            </div>
        </div>
    </div>
</div>