<div class="feed-activity-list">
  <!-- <form> -->
  <div class="form-group">
    <label class="control-label">Add Comment</label>
    <br/>
    <textarea type="text" class="form-control" [(ngModel)]="message" placeholder="Put you comment here"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" (click)="addComment()" [ladda]="isCreatingComment">Add comment</button>
  </div>
  <!-- </form> -->

  <div *ngIf="!commentGroup || !commentGroup.Comments || commentGroup.Comments.length === 0">
    <strong>No comments</strong>
  </div>


  <div *ngIf="commentGroup && commentGroup.Comments && commentGroup.Comments.length > 0">
    <div class="feed-element" *ngFor="let comment of commentGroup.Comments">
      <a href="#" class="pull-left">
        <img alt="image" class="img-circle" src="{{comment.Creator.CreatorProfileImage}}">
      </a>
      <div class="media-body ">
        <small class="pull-right">{{comment.Created | timeAgo }}</small>
        <strong>{{comment.Creator.CreatorName}}</strong><br/>{{comment.Message}}
        <br>
        <small class="text-muted">{{comment.Created | date:'medium'}}</small>
      </div>
      <div class="pull-right">
        <a class="btn btn-xs btn-danger" *ngIf="comment.Creator.CreatorId == currentUser" (click)="removeComment(comment)">
          <i class="fa fa-trash"></i> Remove</a>
      </div>
    </div>
  </div>

</div>

<!-- timeAgo -->