<div class="row">

    <div class="col-xs-12 col-lg-10">
        <otta-panel [title]="'Events'" [loading]="isLoading">
            <content-project-events [project]="currentProject"></content-project-events>
        </otta-panel>

        <otta-panel [title]="'Public Events'" [loading]="isLoadingPublicGroups">
            <p>
                Add these lists of events to your own calendar
            </p>
            <div *ngFor="let grouping of allPublicEventGroups">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ grouping.GroupingName }}</h3>
                    </div>
                </div>

                <div class="row" *ngFor="let group of grouping.Groups">
                    <div [ngClass]="grouping.GroupingName?'col-xs-9 col-xs-offset-1':'col-xs-10'">
                        <p>
                            <strong>{{ group.Name }}</strong>
                            <br/> {{ group.Description }}
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <input type="checkbox" [checked]="isGroupInProjectList(group.id)" (click)="togglePublicGroup(group)">
                    </div>
                </div>
            </div>
        </otta-panel>
    </div>


    <div class="col-xs-12 col-lg-2 hidden-xs hidden-sm hidden-md">
        <h2>Events</h2>
        <p>
            Keep track of important events throughout the year so you can build your content around them.
        </p>
        <p>
            You can create your own important events here and they will appear on your content calendar.
        </p>
        <h4>Pre-defined events</h4>
        <p>
            We also maintain our own list of important dates for various countries and the Internet.
        </p>
        <p>
            You can add one of those lists to your own events and create even more timely content.
        </p>
    </div>

</div>