<div class="row">

    <div class="col-xs-12 col-lg-10">
        
        <content-project-events [project]="currentProject"></content-project-events>        

        <otta-panel id="public_events" [title]="'Public Events'" [loading]="isLoadingPublicGroups">
            <p>
                Add these lists of events to your own calendar
            </p>
            <div *ngFor="let grouping of allPublicEventGroups">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ grouping.Category }}</h3>
                    </div>
                </div>

                <div class="row" *ngFor="let group of grouping.Groups">
                    <div [ngClass]="grouping.Category?'col-xs-9 col-xs-offset-1':'col-xs-10'">
                        <p>
                            <strong>{{ group.Name }}</strong>
                            <br/> {{ group.Description }}
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <input type="checkbox" [checked]="isGroupInProjectList(group.id)" (click)="togglePublicGroup(group)">
                    </div>
                </div>
            </div>
        </otta-panel>
    </div>


    <div class="col-xs-12 col-lg-2 hidden-xs hidden-sm hidden-md">
        <app-side-info></app-side-info>
    </div>

</div>