<div class="row">

  <div class="col-xs-12 col-lg-9">
      <otta-panel [title]="'Support tickets'" [showButton]="true" [buttonText]="'Create support ticket'" (buttonClicked)="createSupportTicket()">
          <app-support-ticket-list></app-support-ticket-list>
      </otta-panel>
  </div>

  <div class="col-xs-12 col-lg-3 hidden-xs hidden-sm hidden-md">
      <h2>Support</h2>      
      <p>
        If you get stuck then we are here to help. You can find detailed documentation on how everything works, head over to <strong><a href="https://docs.otta.io" target="_new">https://docs.otta.io</a></strong> to see it.
      </p>
      <p>
        But if that doesn't help you can raise a support request here. We aim to get back to every request within 24 hours.
      </p>
  </div>

</div>