<div class="row wrapper white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ project.Title }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                    <a [routerLink]="['/content']">Content Management</a>
                </li>
            <li>
                <strong>{{ project.Title }}</strong>
            </li>
        </ol>
    </div>
</div>

<!-- Top level button row -->  
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <button type="button" class="btn btn-default">Calendar</button>
        <button type="button" class="btn btn-default">Drafts</button>
        <button type="button" class="btn btn-default">Pitches</button>
        <button type="button" class="btn btn-default">Events</button>
        <button type="button" class="btn btn-primary" *ngIf="isAdmin">Settings</button>
    </div>
</div>

<div class="wrapper-content animated fadeInRight">    
    <!-- Loading -->
    <loadingSpinner [loading]="isLoading"></loadingSpinner>
    
    <div class="row">
        <div class="col-sm-12 col-md-8">            
        </div>
        <div class="col-sm-12 col-md-4">
            <otta-panel title="Admin function" *ngIf="isAdmin">
                <p>
                        When you no longer need the project it can be closed. Closing a project 
                        removes all data and history.
                </p>
                <button class="btn btn-danger" (click)="closeProject()">Remove project</button>
            </otta-panel>
        </div>
    </div>


</div>