<div class="row wrapper white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ project.Title }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                    <a [routerLink]="['/content']">Content Management</a>
                </li>
            <li>
                <strong>{{ project.Title }}</strong>
            </li>
        </ol>
    </div>
</div>

<!-- Top level button row -->  
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12 btn-group">
        <button type="button" class="btn" [ngClass]="{'btn-default': currentView != 'calendar', 'btn-primary': currentView == 'calendar' }" (click)="goToCalendar()">Calendar</button>
        <button type="button" class="btn" [ngClass]="{'btn-primary': currentView == 'drafts', 'btn-default': currentView != 'drafts' }" (click)="goToDrafts()">Drafts</button>
        <button type="button" class="btn" [ngClass]="{'btn-primary': currentView == 'pitches', 'btn-default': currentView != 'pitches' }" (click)="goToPitches()">Pitches</button>
        <button type="button" class="btn" [ngClass]="{'btn-primary': currentView == 'events', 'btn-default': currentView != 'events' }" (click)="goToEvents()">Events</button>
        <button type="button" class="btn" [ngClass]="{'btn-primary': currentView == 'settings', 'btn-default': currentView != 'settings' }" (click)="goToSettings()" *ngIf="isAdmin">Settings</button>
    </div>
</div>

<div class="wrapper-content animated fadeInRight">    
    <!-- Loading -->
    <loadingSpinner [loading]="isLoading"></loadingSpinner>
    <router-outlet></router-outlet>
</div>