<div class="middle-box text-center loginscreen  animated fadeInDown">

    <p></p>
    <div class="ibox-content">
        <h3>Verify your email address</h3>
        <p>
            Before you can use the application we need to verify your email address.
        </p>
        <p>
            You will receive an email very soon. Simply follow the instructions on the email then click the button below to continue
            logging in.
        </p>
        <p>
            <button class="btn btn-primary" (click)="verify()">Continue</button>
        </p>
    </div>
</div>