<div class="p-md" *ngIf="types.length === 0">
    <strong>No types found</strong>
</div>

<div class="table-responsive" *ngIf="types.length > 0">
    <table class="table table-hover issue-tracker">
        <tbody>
            <tr *ngFor="let type of types">
                <td>
                    <!-- <span class="label label-primary" [ngStyle]="{ 'background-color': type.ColourHex }">{{type.ColourHex}}</span> -->
                    <content-item-type-label [title]="type.Title" [colourHex]="type.ColourHex"></content-item-type-label>
                </td>
                <td class="issue-info">
                    <a>
                        {{ type.Title }}
                    </a>
                </td>
                <td>
                </td>
                <td>
                    <button type="button" class="btn btn-outline btn-danger btn-xs" (click)="removeType(type)">Delete</button>                         
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h4>Create content type</h4>
    <p>
        A set of default content types are available, these can be deleted and replaced with your own types if required.
    </p>
    <form method="get" class="form-horizontal" (ngSubmit)="createType()" #typeForm="ngForm">
        <div class="form-group" [class.has-error]="!title.valid">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="createItem.Title" #title="ngModel" placeholder="Example: Podcast">
                <span class="help-block m-b-none">
                    Title for this content type. This is how you will group related content items together
                </span>
            </div>
        </div>

        <div class="form-group" [class.has-error]="!colorHex.valid">
            <label class="col-sm-2 control-label">Colour</label>
            <div class="col-sm-10">
                <!-- <select name="colourHex" id="colourHex" [(ngModel)]="createItem.ColourHex" #colorHex="ngModel" required>
                    <option value="#FF0000">Red</option>
                    <option value="#00FF00">Green</option>
                    <option value="#0000FF">Blue</option>
                    <option value="#F4D03F">Yellow</option>
                    <option value="#FFC300">Deep Yellow</option>
                    <option value="#DC7633">Orange</option>
                    <option value="#58D68D">Light green</option>
                    <option value="#8E44AD">Purple</option>
                    <option value="#3498DB">Sky blue</option>
                    <option value="#5D6D7E">Deep grey</option>
                </select> -->

                <otta-colour-picker name="colorHex" [(ngModel)]="createItem.ColourHex" #colorHex="ngModel"></otta-colour-picker>

                <!-- <content-item-type-label [title]="'Example Title'" [colourHex]="createItem.ColourHex"></content-item-type-label> -->

                <span class="help-block m-b-none">
                    The colour of the type will help you easily identify it
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" type="submit" [disabled]="!typeForm.form.valid" [ladda]="isCreating">Submit</button>
            </div>
        </div>
    </form>
</div>