<otta-panel [title]="'Integrations'" [loading]="isLoadingIntegration">
  <div>
    <h3>WordPress</h3>
    <div *ngIf="wordpressIntegrations.length === 0">
      <p>
        Connect this project directly to your WordPress site so it is able to manage your posts for you.
      </p>
      <button class="btn btn-default" (click)="showWordpressForm()">Add your WordPress site</button>
    </div>

    <div *ngFor="let wpIntegration of wordpressIntegrations" class="widget style1 navy-bg">
      <div class="row">
        <div class="col-xs-4">
          <i class="fa fa-wordpress fa-5x"></i>
        </div>
        <div class="col-xs-8 text-right">
          <span>
            <strong>{{ wpIntegration.Name }}</strong>
          </span>
          <br/>
          <button (click)="removeIntegration(wpIntegration.id)" class="btn btn-xs btn-outline btn-default">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MEDIUM -->
  <!-- <div>
    <h3>Medium</h3>
    <div *ngIf="mediumIntegrations.length === 0">
      <p>
        Connect this project directly to medium so it is able to manage your posts for you.
      </p>
      <button class="btn btn-default" (click)="showMediumForm()">Add your medium site</button>
    </div>
  </div> -->

  <!-- TWITTER -->
  <div>
    <h3>Twitter</h3>
    <div *ngIf="twitterIntegrations.length === 0">
      <p>
        Connect this project directly to twitter so it is able to manage your posts for you.
      </p>
      <p *ngIf="twitterOAuthFormUrl != ''">
        If the twitter authentication form doesn't automatically open <a href="{{ twitterOAuthFormUrl }}" target="_new">use this link to authenticate your account</a>.
      </p>
      <button class="btn btn-default" (click)="showTwitterForm()" [ladda]="isConnectingToTwitter">Add twitter to this project</button>
    </div>
    <div *ngFor="let twitterIntegration of twitterIntegrations" class="widget style1 navy-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-twitter fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>
              <strong>{{ twitterIntegration.Name }}</strong>
            </span>
            <br/><br/>
            <button (click)="removeIntegration(twitterIntegration.id)" class="btn btn-xs btn-outline btn-default">Remove</button>
          </div>
        </div>
      </div>
  </div>
</otta-panel>

<div class="modal inmodal" id="wordpressModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Wordpress integration</h4>
        <small class="font-bold">Connect your project to your wordpress site</small>
      </div>
      <div class="modal-body">
        <p>
          To allow Otta to work with your WordPress site add a new Editor user to your site. Adding these user 
          details below will allow Otta to log into your WordPress site. This will not give Otta access to the 
          administration settings of your site, only the posts, tags and categories.
        </p>
        <p>
          You need to:
        </p>
        <ul>
          <li>Add a new user to your site, set it's type to <strong>Editor</strong>
          </li>
          <li>Give it a strong password</li>
        </ul>


        <form method="get" class="form-horizontal" (ngSubmit)="addWordpressIntegration()" #wordpressModalForm="ngForm">

          <div class="form-group" [class.has-error]="!wpHost.valid">
            <label class="col-sm-2 control-label">Website URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="wpHost" name="wpHost" required [(ngModel)]="wordpressForm.WebsiteUrl" placeholder="https://www.website.com"
                #wpHost="ngModel">
              <span class="help-block m-b-none">
                The address of your site, it just needs to be the plain URL. https://www.yoursite.com for instance.
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="!wpUsername.valid">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="wpUsername" name="wpUsername" required [(ngModel)]="wordpressForm.Username" #wpUsername="ngModel">
              <span class="help-block m-b-none">
                The username of the user you have created on your wordpress site.
                <strong>Must be an editor</strong>.
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="!wpPassword.valid">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="wpPassword" name="wpPassword" required [(ngModel)]="wordpressForm.Password"
                autocomplete="off" #wpPassword="ngModel">
              <span class="help-block m-b-none">
                Password for the user
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button class="btn btn-white" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit" [disabled]="!wordpressModalForm.form.valid" [ladda]="isCreating">Add Integration</button>
            </div>
          </div>
        </form>



      </div>
    </div>
  </div>
</div>