.emptyTimeslot {
    margin: 0px;
    text-align: center;    
    vertical-align: middle;
}

.timeslotCell {
    margin: 0px;
    padding: 0px;
}

.timeslotCell:hover {
    background-color: #dddddd;
    cursor: copy;
}

.notSelectableTimeslotCell {
    margin: 0px;
    padding: 0px;
}

.timeslotItem {
    padding: 2px;
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    cursor: pointer;
}