<loadingSpinner [loading]="isLoading"></loadingSpinner>

<div class="row" *ngIf="!isLoading">

    <div class="col-xs-12 col-lg-9">
        <otta-panel [title]="'Content'" [showButton]="true" [buttonText]="'Create'" (buttonClicked)="AddItem()">


            <div class="m-b-lg">

                <div class="input-group">
                    <input type="text" placeholder="Search issue by name..." [(ngModel)]="searchCriteria" class=" form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" (click)="search()"> Search</button>
                        <button *ngIf="isFilteringSearch" type="button" class="btn btn-white" (click)="clearSearch()">
                            Clear</button>
                    </span>
                </div>
                <div class="m-t-md">
                    <div class="pull-right">
                        <label class="checkbox-inline">
                            <input type="checkbox" [(ngModel)]="searchShowAll" (change)="updateSearch()" id="checkBoxShowAll">
                            All </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" [(ngModel)]="searchShowIdeas" (change)="updateSearch()" id="checkBoxShowIdeas">
                            Idea </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" [(ngModel)]="searchShowInProgress" (change)="updateSearch()" id="checkBoxShowInProgress">
                            In progress </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" [(ngModel)]="searchShowContent" (change)="updateSearch()" id="checkBoxShowContent">
                            Content </label>
                    </div>
                    <!-- 
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>
                            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
                            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
                            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
                            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
                            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>
                        </div> -->

                    <strong>Found {{contentItems.length}} items</strong>
                    <a *ngIf="isFilteringSearch" (click)="clearSearch()">- Clear search filter</a>
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-hover issue-tracker">
                    <thead>
                        <tr>
                            <td>Type</td>
                            <td>Item</td>
                            <td>Creator</td>
                            <td>Due</td>
                            <td>State</td>
                            <td>Tags</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of contentItems">
                            <td (click)="navigateToItem(item)">
                                <content-item-type-label [title]="item.ContentTypeTitle" [colourHex]="item.ContentTypeColourHex"></content-item-type-label>
                            </td>
                            <td class="issue-info" (click)="navigateToItem(item)">
                                <a>
                                    {{ item.Title }}
                                </a>

                                <small>
                                    {{ item.Description }}
                                </small>
                            </td>
                            <td (click)="navigateToItem(item)">
                                {{ item.Creator.CreatorName }}
                            </td>
                            <td (click)="navigateToItem(item)">
                                {{ item.DeadLine | date:'mediumDate' }}
                            </td>
                            <td>
                                {{ item.State }}
                            </td>
                            <td class="text-right">
                                <button *ngFor="let tag of item.Tags" class="btn btn-white btn-xs" (click)="search(tag)">{{
                                    tag }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </otta-panel>

        <!-- Quick add panel -->
        <!-- <otta-panel [title]="'Quick add'">
            <content-item-details [data]="quickAddContentItemData" [showCancel]="false" [isUpdating]="isUpdating" (submitClicked)="quickAddContent($event)"
                [hideHtmlEditor]="true" [minimalForm]="true" [hideCloseButton]="true"></content-item-details>
        </otta-panel> -->
    </div>

    <!-- Right hand side -->
    <!-- <div class="col-xs-12 col-lg-2 hidden-xs hidden-sm hidden-md">
        <h2>Keep all your ideas in one place</h2>
        <p>
            If you have content you want to create but just don't know what to do with it yet. Put it here as an idea. You can keep working
            on your idea, add notes to it, discuss it.
        </p>
        <p>
            When it is ready you can bring it into your content calendar.
        </p>
        <h4>Types</h4>
        <p>
            Give your content a specific type so you can easily see the ones you want for your blog, and the ones you want for your
            podcast.
        </p>
        <p>
            Or create your own custom types and use those instead.
        </p>
        <h4>Tags</h4>
        <p>
            Add tags to your content so you can group similar ideas, ideas related to the same theme, etc. Use them however best works
            for you.
        </p>
        <p>
            Click on a tag to see only the drafts with the same tag.
        </p>
    </div> -->

    <div class="col-xs-12 col-lg-3">
        <otta-panel [title]="'Quick add'">
            <content-item-details [data]="quickAddContentItemData" [showCancel]="false" [isUpdating]="isUpdating"
                (submitClicked)="quickAddContent($event)" [hideHtmlEditor]="true" [minimalForm]="true"
                [hideCloseButton]="true"></content-item-details>
        </otta-panel>
    </div>


</div>