<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul id="sidebar" class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element text-center" dropdown>
          <span class="block m-t-xs SideBarHeading">
            <strong class="font-bold">Otta</strong>
          </span>
          <img alt="image" style="width:100px;" class="img-circle" src="{{profile?.picture}}">
          <a dropdownToggle>
            <span class="block m-t-xs">
              <strong class="font-bold">{{profile?.name}}</strong>
              <b class="caret"></b>
            </span>
            <!--<span class="text-muted text-xs block">Art Director <b class="caret"></b> </span>-->
          </a>
          <ul id="personal_settings" class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li>
              <a [routerLink]="['/profile']">Profile</a>
            </li>
            <li>
              <a [routerLink]="['/organisation']">Organisation</a>
            </li>
            <li class="divider"></li>
            <li>
              <a (click)="auth.logout()">Logout</a>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          Otta
        </div>
      </li>

      <li [ngClass]="{active: activeRoute('home')}">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"></i>
          <span class="nav-label">Overview</span>
        </a>
      </li>

      <!-- 
      <li [ngClass]="{active: activeRoute('creator')}" *ngIf="showCreatorOptions">
        <a [routerLink]="['/creator']">
          <i class="fa fa-address-book-o"></i>
          <span class="nav-label">Creator Profiles</span>
        </a>
      </li> -->

      <li [ngClass]="{active: activeRoute('personas')}" *ngIf="showOrganisationOptions">
        <a [routerLink]="['/personas']">
          <i class="fa fa-users"></i>
          <span class="nav-label">Personas</span>
        </a>
      </li>

      <li [ngClass]="{active: activeRoute('content')}" *ngIf="showOrganisationOptions">
        <a [routerLink]="['/content']">
          <i class="fa fa-calendar"></i>
          <span class="nav-label">Projects</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('content')}">
          <li [ngClass]="{active: activeRoute('content/')}">
            <a [routerLink]="['/content']">Overview</a>
          </li>
          <li [ngClass]="{active: activeRoute('content/'+project.id)}" *ngFor="let project of usersContentProjects">
            <a [routerLink]="['/content', project.id]">{{ project.Title }}</a>
          </li>
        </ul>
      </li>

      <li [ngClass]="{active: activeRoute('support')}">
        <a [routerLink]="['/support']">
          <i class="fa fa-question"></i>
          <span class="nav-label">Support</span>
        </a>
      </li>


      <li [ngClass]="{active: activeRoute('suggestions')}">
        <a [routerLink]="['/suggestions']">
          <i class="fa fa-comment"></i>
          <span class="nav-label">Suggestions</span>
        </a>
      </li>

      <!-- <li [ngClass]="{active: activeRoute('mobile')}">
        <a [routerLink]="['/mobile']">
          <i class="fa fa-mobile"></i>
          <span class="nav-label">Mobile</span>
        </a>
      </li> -->

      <li>
        <a [routerLink]="['/logout']" (click)="logout()">
          <i class="fa fa-sign-out"></i>
          <span class="nav-label">Log out</span>
        </a>
      </li>

    </ul>

  </div>
</nav>