<div class="middle-box text-center loginscreen  animated fadeInDown">
    <!-- <div>
        <div>
            <h1 class="logo-name">otta</h1>
        </div>
    </div> -->
    <div class="ibox-content">
        <h2>
            Account Inactive
        </h2>        
        <p>
            Your account is currently <strong>not active</strong>. 
        </p>
        <p>
            This can happen when your organisation admin has removed your user from the system. Please contact your 
            organisation admin to re-activate your account.
        </p>
        <p>
            <button class="btn btn-primary btn-block" (click)="login()">Login again</button>        
        </p>
    </div>
</div>