<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img src="/assets/images/logo/logosquare.png">
        </div>
    </div>
    <div class="ibox-content">
        <h3>Welcome to Otta</h3>
        <p>
            Organise, plan, develop, and publish your content and social media all in one place.
        </p>        
        <button class="btn btn-primary btn-block" (click)="auth.login()">Login</button>
        <br/>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <button class="btn btn-default btn-block" (click)="auth.signup()">Create an account</button>
        
        <p class="m-t"> <small>Otta &copy; 2018</small> - {{version}} </p>
    </div>
</div>