<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div id="tour_Agenda">
                <otta-panel [title]="'Agenda'">
                    <app-agenda></app-agenda>
                </otta-panel>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <app-invite-afriend></app-invite-afriend>
        </div>

    </div>

    <div class="row">

        <div id="tour_Agenda" class="col-lg-4">
            <!-- <Agenda></Agenda> -->
        </div>



    </div>

</div>