<p>
  Arrange your events into groups to make them easier to manage
</p>

<p>
  <a data-toggle="modal" data-target="#addGroupModal">Add group</a>
</p>

<div *ngFor="let group of eventGroups">
  <h3>
    <span (click)="showUpdateGroup(group.Group.id)">{{ group.Group.Name }}</span> - <a (click)="deleteGroup(group.Group.id)" class="badge btn-default">Delete</a>
  </h3>
  <div style="padding-left: 20px; margin-bottom: 20px;">
    <ul>
      <li *ngFor="let date of group.Dates">
        {{ date.StartDate | date:'mediumDate' }} - {{ date.Title }} -
        <a class="badge badge-default" (click)="removeDate(group.Group.id, date.id)">Delete</a>        
      </li>
      <li>
        <a (click)="showAddDateModal(group.Group.id)">Add date to {{ group.Group.Name}}</a>
      </li>
    </ul>
  </div>
</div>

<p>
  <br />
  <a data-toggle="modal" data-target="#addGroupModal">Add group</a>
</p>



<div class="modal inmodal" id="addGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <i class="fa fa-object-group modal-icon"></i>
        <h4 class="modal-title">Add group</h4>
      </div>
      <div class="modal-body">
        <p>
          You can group your events to make them easier to manage. You can also remove whole groups of events by simply deleting the
          group.
        </p>

        <form method="get" class="form-horizontal" (ngSubmit)="addGroup('addGroupModal')" #addGroupForm="ngForm">
          <div class="form-group" [class.has-error]="!groupName.valid">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="groupName" name="groupName" required [(ngModel)]="addGroupFormData.Name" #groupName="ngModel">
              <span class="help-block m-b-none">
                The name of the group
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="!groupDescription.valid">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="groupDescription" name="groupDescription" [(ngModel)]="addGroupFormData.Description" required #groupDescription="ngModel"></textarea>
              <span class="help-block m-b-none">
                A description of the group
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button class="btn btn-white" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit" [disabled]="!addGroupForm.form.valid" [ladda]="isCreating">Submit</button>
            </div>
          </div>
        </form>

      </div>      
    </div>
  </div>
</div>

<div class="modal inmodal" id="addDateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <i class="fa fa-calendar modal-icon"></i>
        <h4 class="modal-title">Add date</h4>
      </div>
      <div class="modal-body">
        <p>
          Add a date to your group
        </p>

        <form method="get" class="form-horizontal" (ngSubmit)="addDate()" #addDateModalForm="ngForm">
          <div class="form-group" [class.has-error]="!title.valid">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="addDateFormData.Title" #title="ngModel">
              <span class="help-block m-b-none">
                The name for this date
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="!description.valid">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="description" name="description" [(ngModel)]="addDateFormData.Description" required #description="ngModel"></textarea>
              <span class="help-block m-b-none">
                A little more information about this date
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="!startDate.valid">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <my-date-picker name="startDate" [options]="datePickerOptions" [(ngModel)]="addDateFormData.StartDate" required #startDate="ngModel"></my-date-picker>
              <span class="help-block m-b-none">
                The start date of the event
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button class="btn btn-white" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit" [disabled]="!addDateModalForm.form.valid" [ladda]="isCreating">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>