<div class="middle-box text-center loginscreen  animated fadeInDown">
    <!-- <div>
        <div>
            <h1 class="logo-name">otta</h1>
        </div>
    </div> -->
    <div class="ibox-content">
        <h2>
            Subscription Error
        </h2>        
        <p>
            You cannot join the organisation right now, please contact the organisation administrator and ask them to
            update their subscription to allow you to join.
        </p>
        <p>
            Then follow your join link again and you will be joined onto their subscription.
        </p>
    </div>
</div>