<div class="row">

    <div class="col-xs-12 col-lg-10">
        <otta-panel [title]="'Calendar'">
            Show: 
            <div data-toggle="buttons-checkbox" class="btn-group">                
                <button class="btn" [ngClass]="{'btn-success': showContent}" type="button" (click)="showContent = !showContent">Content items</button>                
                <button class="btn" [ngClass]="{'btn-success': showEvents}" type="button" (click)="showEvents = !showEvents">Events</button>
                <button class="btn" [ngClass]="{'btn-success': showRequeues}" type="button" (click)="showRequeues = !showRequeues">Requeues</button>
            </div>
            <content-calendar [showRequeues]="showRequeues" [showContentItems]="showContent" [showEvents]="showEvents"></content-calendar>
        </otta-panel>
    </div>


    <div class="col-xs-12 col-lg-2 hidden-xs hidden-sm hidden-md">
        <app-side-info></app-side-info>
    </div>

</div>