<div class="row">

    <div class="col-xs-12 col-lg-10">
        <otta-panel [title]="'Calendar'">
            <h3>Coming Soon</h3>
        </otta-panel>
    </div>


    <div class="col-xs-12 col-lg-2 hidden-xs hidden-sm hidden-md">
        <h2>Side information</h2>
        <p>
            Put information here about what this page does.
        </p>
        <p>
            It is only shown on large screens, not on mobile or tablet devices.
        </p>
        <h4>Sub-Heading</h4>
        <p>
            Break up the content with sub-headings to make it easier to read.
        </p>
    </div>

</div>