<div class="row wrapper white-bg page-heading">
    <div class="col-lg-10">
        <h2>Personas</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                <strong>Personas</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <a id="create_persona" [routerLink]="['create']" type="button" class="btn btn-primary">Create persona</a>
    </div>
</div>

<div id="persona_list" class="wrapper-content animated fadeInRight">

    <loadingSpinner [loading]="isLoading"></loadingSpinner>

    <div ng-if="personas.length === 0">
        <h2>You don't have any personas yet, would you like to <a [routerLink]="['/personas/create']">create one?</a></h2>
    </div>

    <div class="row">
        <!-- Show a list of all personas -->
        <div class="col-lg-4 col-md-6" *ngFor="let persona of personas">
            <a [routerLink]="['/personas', persona.id]">
                <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img *ngIf="persona.ImageUrl" alt="image" class="img-circle m-t-xs img-responsive" src="{{persona.ImageUrl}}">
                            <span *ngIf="!persona.ImageUrl">No Image</span>
                            <div class="m-t-xs font-bold">{{persona.BusinessRole}}</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>{{persona.Name}}</strong></h3>
                        {{persona.Age}}
                        <br/>

                        <ul>
                            <li *ngFor="let item of persona.KeyAttributes">{{item}}</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>


    </div>

</div>