.AgendaDateList {
    list-style-type: none;
    padding: 0px;
}

.AgnedaDateItem {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
}

.AgendaItemList {
    padding-left: 20px;
}

.AgendaDateItem {
}