<loadingSpinner [loading]="isLoading"></loadingSpinner>

<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let project of agenda.Projects">      
      <a [routerLink]="['/content', project.Id]"><h3>{{ project.Title }}</h3></a>
      <ul class="AgendaDateList">
        <li class="AgnedaDateItem" *ngFor="let day of project.Data">
          {{ day.Date | date:'d MMM' }}
          <ul class="AgendaItemList">
            <li class="AgendaItemItem" *ngFor="let item of day.Items">              
              <div *ngIf="item.Type == 1">{{ item.Title }}</div>  <!-- Event -->
              <a *ngIf="item.Type == 0" [routerLink]="['/content', project.Id, 'items', item.Id]">{{ item.Title }}</a>    <!-- Content item -->
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>