<loadingSpinner [loading]="isLoadingImages"></loadingSpinner>

<div *ngIf="!isLoadingImages">
  <!-- No files message -->
  <div *ngIf="!images || images.length === 0" class="text-center">
    <h2>No files found</h2>
  </div>

  <!-- Files found -->
  <div *ngIf="images && images.length > 0">
    <!-- List files -->
    <div class="row">      
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let image of images">
          <img [src]="image" width="100%">
          <a (click)="delete(image)">Delete</a>
      </div>      
    </div>
  </div>

  <dropzone #dropzoneComponent [config]="dropzoneConfig" [message]="'Click here or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)" (queuecomplete)="onQueueComplete($event)"></dropzone>
</div>