<div>
  <!-- Menu buttons -->
  <button class="btn btn-primary" (click)="showAddTwitterMessage()">Add Message</button>

  <div class="btn-group">
    <button class="btn btn-white" type="button" (click)="showAddTwitterMessage()">
      <i class="fa fa-twitter"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-facebook"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-medium"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-google-plus"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-linkedin"> </i>
    </button>
  </div>

  <div class="pull-right">
      Hide sent items: <input type="checkbox" [checked]="hideMessagesInThePast" (change)="hideMessagesInThePast = !hideMessagesInThePast; redrawMessageList();">
  </div>
</div>


<!-- List of messages -->
<div id="vertical-timeline" class="vertical-container dark-timeline">
  <div class="vertical-timeline-block" *ngFor="let message of messages">
    <div class="vertical-timeline-icon twitter-bg">
      <i class="fa fa-twitter"></i>
    </div>

    <div class="vertical-timeline-content">
      <p>
        <strong>{{ message.Message }}</strong>
      </p>
      <a *ngIf="!message.hasBeenSent" class="btn btn-xs btn-danger btn-outline" (click)="deleteTwitterMessage(message.Id)">Delete</a>
      <span class="vertical-date">
        <small>{{ message.SendTime | date }} {{ message.SendTime | date:'shortTime'}}</small>
      </span>
    </div>
  </div>
</div>

<!-- Message if there are no messages waiting to be sent -->
<div *ngIf="messages.length === 0" class="text-center">
  <h2>No messages waiting to be sent</h2>
</div>





<!-- Modal dialogs -->
<div class="modal inmodal" id="addMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <i class="fa fa-twitter modal-icon"></i>
        <h4 class="modal-title">Add social media message</h4>
        <small class="font-bold">Add a new social media message to this item</small>
      </div>
      <div class="modal-body">


        <form method="get" class="form-horizontal" (ngSubmit)="addTwitterMessage()" #addMessageForm="ngForm">
          <div class="form-group" [class.has-error]="!message.valid">
            <label class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="message" name="message" required [(ngModel)]="newMessage.Message" #message="ngModel">
              <span class="help-block m-b-none">
                The message to be shown to the user
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Send date</label>
            <div class="col-sm-10">
              <otta-datetime-picker name="sendtime" [(ngModel)]="newMessage.SendTime"></otta-datetime-picker>
              <span class="help-block m-b-none">
                Date and time you want the message sent
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button class="btn btn-white" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit" [disabled]="!addMessageForm.form.valid" [ladda]="isCreatingMessage">Add message</button>
            </div>
          </div>
        </form>


      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>