<div>
  <!-- Menu buttons -->
  <button class="btn btn-primary" (click)="showAddTwitterMessage()">Add Message</button>

  <div class="btn-group">
    <button class="btn btn-white" type="button" (click)="showAddTwitterMessage()">
      <i class="fa fa-twitter"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-facebook"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-medium"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-google-plus"> </i>
    </button>
    <button class="btn btn-white" type="button">
      <i class="fa fa-linkedin"> </i>
    </button>
  </div>

  <div class="pull-right">
    Hide sent items:
    <input type="checkbox" [checked]="hideMessagesInThePast" (change)="hideMessagesInThePast = !hideMessagesInThePast; redrawMessageList();">
  </div>
</div>


<!-- List of messages -->
<div id="vertical-timeline" class="vertical-container dark-timeline">
  <div class="vertical-timeline-block" *ngFor="let message of messages">
    <div class="vertical-timeline-icon twitter-bg" (click)="editMessage(message)">
      <i class="fa fa-twitter"></i>
    </div>

    <div class="vertical-timeline-content">
      <p (click)="editMessage(message)">
        <strong>{{ message.Message }}</strong>
      </p>
      <p *ngIf="message.ImageUrl">
        <img src="{{message.ImageUrl}}" width="50px"/>
      </p>
      <a *ngIf="!message.hasBeenSent" class="btn btn-xs btn-danger btn-outline" (click)="deleteTwitterMessage(message.Id)">Delete</a>
      <span class="vertical-date">
        <small>
          {{ message.SendTime | date }} {{ message.SendTime | date:'shortTime'}}
          <span *ngIf="message.IsRelative">(relative)</span>
          <span *ngIf="!message.IsRelative">(static)</span>
        </small>
      </span>
    </div>
  </div>
</div>

<!-- Message if there are no messages waiting to be sent -->
<div *ngIf="messages.length === 0" class="text-center">
  <h2>No messages waiting to be sent</h2>
</div>

<otta-modal [modalId]="'addTwitterMessageModal'" [title]="'Add twitter message'" [heading]="'Add a new twitter message to this item'" [icon]="'fa-twitter'">
  <otta-content-item-message-twitter-form #twitterMessageComponent [contentItem]="data" [images]="images" (messageAdded)="addedTwitterMessage()"></otta-content-item-message-twitter-form>
</otta-modal>